<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleIdentifier</key>
    <string>com.voicedock.app</string>
    <key>CFBundleName</key>
    <string>VoiceDock</string>
    <key>CFBundleDisplayName</key>
    <string>VoiceDock</string>
    <key>CFBundleExecutable</key>
    <string>VoiceDock</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>NSMicrophoneUsageDescription</key>
    <string>VoiceDock needs microphone access to record dictated prompts.</string>
</dict>
</plist>
